table {
    width: 500px;
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 1rem;
    border: 1px solid black;
}

thead th,
tbody td {
    text-align: center;
}

thead {
    color: white;
    background-color: black;
}

th {
    padding: 1rem;
}

tbody tr:nth-child(even) {
    background-color: lightgray;
}

.blank {
    background-color: black;
}