:root {
    --primary-color: #D67A20;
    --secondary-color: #78C1D6;
}

* {
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: var(--primary-color);
    padding: 1px;
    text-align: center;
}

header p {
    font-size: 2em;
}

form {
    background-color: lightgrey;
    padding: 10px;
}

form label,
form span,
form p {
    padding-left: 10px;
}

form div {
    padding-bottom: 15px;
    border: solid 1px black;
    border-bottom: none;
}

form .stars {
    border: none;
}

form .fix {
    border-bottom: solid 1px black;
}

form input[type="range"],
form input[type="date"],
form textarea,
form input[type="text"],
form input[type="submit"],
form select {
    display: block;
    margin: 10px;
    padding-left: 5px;
    border: solid 1px black;
    border-radius: 6px;
}

input[type="radio"] {
    display: none;
    position: relative;
    caret-color: rgba(0, 0, 0, 0);
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.stars>label {
    color: gold;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    margin-left: 5px;
    display: flex;
    align-items: center;
    caret-color: rgba(0, 0, 0, 0);
}

.stars>label:hover {
    color: #000;
}

.stars>label::before {
    content: "\2606";
}

.stars input:checked~label::before {
    content: "\2605";
}

form input[type="checkbox"] {
    display: inline;
    margin-top: 10px;
}

form input[type="submit"] {
    padding: 10px;
    background-image: linear-gradient(var(--primary-color), #6f200e);
    ;
    color: white;
}

form label {
    display: block;
    margin-top: 10px;
}


footer {
    background-color: var(--secondary-color);
    padding: 5px;
    text-align: center;
}

.margin {
    margin-top: 20px;
}

#posted,
.posted {
    display: inline;
}